@using PRENATALv2.Areas.Home.Models
@model _recoveryCodeLogin
@{ 
    Layout = "_Anonymous";
}

    <div class="container">
        @using (Html.BeginForm("AttemptRecoveryCodeLogin", "Account", FormMethod.Post, new { @class = "form-group" }))
        {
            @Html.AntiForgeryToken()
            <fieldset class="btn-group-vertical">
                <label>RecoveryCode:</label>
                @Html.TextBoxFor(Model => Model.RecoveryCode, "", new { @class = "form-control" })<br />
                @Html.ValidationMessageFor(Model => Model.RecoveryCode, "", new { @class = "text-danger" })
                <br />
                <input type="submit" class="btn btn-prenatal" value="Verify" />
            </fieldset>
        }
    </div>