@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_Layout";
}
@Html.AntiForgeryToken()
<div class="container">
    <h1><strong class="text-uppercase"></strong>Welcome</h1>

    <p>“PRENATAL” is user friendly application for tracking and managing the patient's medical records. It is a role based application which will have controlled and secure access to complete case histories. Additionally, “PRENATAL” provides examination schedules, notebook entries so that there are electronic records of all activities.</p>
</div>

