@using PRENATALv2.Areas.Home.Models
@model _confirmEmail

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
<div class="_valid">
    <hr style="width:420px;" />
    @using (Html.BeginForm("AttemptConfirmEmail", "Profile", FormMethod.Post, new { @class = "form-group" }))
    {
        @Html.AntiForgeryToken();
        <fieldset>
            @Html.HiddenFor(Model => Model.Id)
            @Html.HiddenFor(Model => Model.Email)
            @Html.TextBoxFor(Model => Model.Token, "", new { @style = "width:400px", @class = "form-control d-inline" })
            <button type="submit" class="fas fa-check-double d-inline a_icon align-middle" style="border:0; background-color:white; width:20px; height:20px;" />
        </fieldset>
    }
    <hr style="width:420px;" />
</div>
